flask
python-dotenv
setuptools
requests


# DB
Flask-Migrate
flask-sqlalchemy
flask_validator 

psycopg2-binary

# helpers
pydash
# pprint

# For Serializing Objects
marshmallow  
marshmallow_sqlalchemy
